<div class="page" [@routerTransition]>
	<div class="page__content" id="page-content">
		<div
			class="content d-none d-lg-block"
			style="width: 68%; background: white; display: flex !important; align-content: center; align-items: center"
			id="content">
			<img style="width: 110%; visibility: hidden" src="" />
		</div>
		<div class="important-container login-container" style="width: 42%">
			<div class="content page-login">
				<div class="login-logo-new" style="margin: unset; margin-bottom: 10px; text-align: center">
					<a>
						<img
							*ngIf="projectName == 'drip' && !appService.loginWebLogo"
							style="width: 65% !important"
							src="assets/images/drip_logo.png"
							alt="Packet" />
						<img
							*ngIf="projectName == 'drip' && appService.loginWebLogo"
							style="width: 65% !important"
							[src]="appService.loginWebLogo"
							alt="Packet" />
						<img
							*ngIf="projectName == 'diwo' && !appService.loginWebLogo"
							style="width: 65% !important"
							src="assets/images/diwo_logo.png"
							alt="Packet" />
						<img
							*ngIf="projectName == 'diwo' && appService.loginWebLogo"
							style="width: 65% !important"
							[src]="appService.loginWebLogo"
							alt="Packet" />
					</a>
					<h3 style="margin-bottom: 3rem; color: #323c47; font-weight: bold">
						{{ 'Pages.ResetPassword.title' | translate }}
					</h3>
				</div>

				<form [formGroup]="resetForm" id="screen1" (keyup.enter)="resetPassword()" autocomplete="off">
					<div>
						<!-- New Password -->
						<div
							class="form-group align-left-ipad"
							style="margin-bottom: 15px !important"
							[ngClass]="{
								'has-error': f.newpassword.invalid && (f.newpassword.dirty || f.newpassword.touched),
								'has-success': f.newpassword.valid && (f.newpassword.dirty || f.newpassword.touched)
							}">
							<label style="font-weight: 500; font-family: 'Poppins-Regular' !important">
								{{ 'Pages.ResetPassword.newpassword' | translate }}
							</label>

							<div class="row">
								<div class="col-xs-12 col-md-12 col-sm-12">
									<div style="display: flex; align-items: center">
										<input
											[type]="newshowPassword ? 'text' : 'password'"
											id="paswword"
											class="form-control signup_page"
											[placeholder]="'Pages.ResetPassword.newpassword' | translate"
											formControlName="newpassword"
											style="
												border-radius: 80px;
												padding-left: 20px !important;
												height: 50px !important;
												font-size: 1.125rem !important;
											"
											[attr.disabled]="isTokenExpired ? true : null"
											(keyup)="checkPasswordStrength()"
											(keyup.enter)="resetPassword()" />
										<span
											*ngIf="!newshowPassword"
											[innerHTML]="iconObject['visibilityon']"
											(click)="toggleNewPassword()"
											style="margin-left: -35px; margin-top: 0.5rem; cursor: pointer"></span>

										<span
											*ngIf="newshowPassword"
											[innerHTML]="iconObject['visibilityoff']"
											(click)="toggleNewPassword()"
											style="margin-left: -35px; margin-top: 0.5rem; cursor: pointer"></span>
									</div>

									<div class="error" *ngIf="f.newpassword.errors && f.newpassword.touched">
										<div *ngIf="f.newpassword.errors.required">
											{{ 'Pages.ResetPassword.newpasswordrequired' | translate }}
										</div>
									</div>
								</div>
							</div>
						</div>

						<div
							class="password-strength"
							*ngIf="(passwordFeedback && passwordFeedback.length > 0) || f.newpassword.errors?.mismatch">
							<ul>
								<li
									*ngFor="let feedback of passwordFeedback"
									[ngClass]="{ 'valid-feedback': feedback.valid, 'invalid-feedback': !feedback.valid }">
									{{ feedback.message }}
								</li>
							</ul>
						</div>

						<!-- Confirm Password -->
						<div
							class="form-group align-left-ipad"
							style="margin-bottom: 15px !important"
							[ngClass]="{
								'has-error': f.confirmpassword.invalid && (f.confirmpassword.dirty || f.confirmpassword.touched),
								'has-success': f.confirmpassword.valid && (f.confirmpassword.dirty || f.confirmpassword.touched)
							}">
							<label style="font-weight: 500; font-family: 'Poppins-Regular' !important">
								{{ 'Pages.ResetPassword.confirmpassword' | translate }}
							</label>

							<div class="row">
								<div class="col-xs-12 col-md-12 col-sm-12">
									<div style="display: flex; align-items: center">
										<input
											[type]="confirmshowPassword ? 'text' : 'password'"
											id="paswword"
											class="form-control signup_page"
											[placeholder]="'Pages.ResetPassword.confirmpassword' | translate"
											formControlName="confirmpassword"
											style="
												border-radius: 80px;
												padding-left: 20px !important;
												height: 50px !important;
												font-size: 1.125rem !important;
											"
											[attr.disabled]="isTokenExpired ? true : null"
											(keyup.enter)="resetPassword()" />
										<span
											*ngIf="!confirmshowPassword"
											[innerHTML]="iconObject['visibilityon']"
											(click)="toggleConfirmPassword()"
											style="margin-left: -35px; margin-top: 0.5rem; cursor: pointer"></span>

										<span
											*ngIf="confirmshowPassword"
											[innerHTML]="iconObject['visibilityoff']"
											(click)="toggleConfirmPassword()"
											style="margin-left: -35px; margin-top: 0.5rem; cursor: pointer"></span>
									</div>

									<div class="error" *ngIf="f.confirmpassword.errors && f.confirmpassword.touched">
										<div *ngIf="f.confirmpassword.errors.required">
											{{ 'Pages.ResetPassword.confirmpasswordrequired' | translate }}
										</div>
									</div>

									<div *ngIf="f.confirmpassword.errors && f.confirmpassword.errors.mismatch" class="error-message">
										{{ 'Pages.ResetPassword.passwordnotmatch' | translate }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group margin-bottom-30">
						<div class="form-row">
							<div class="" style="width: 100%; text-align: center">
								<button
									class="btn btn-primary btn-block btnsize1 test"
									(click)="resetPassword()"
									[attr.style]="
										'border-radius: 60px; font-size: 1.25rem; background-color: ' +
										appService.whiteBrandingColor +
										' !important; border: 1px solid ' +
										appService.whiteBrandingColor +
										' !important; color: white !important;'
									"
									[disabled]="isTokenExpired">
									{{
										pageMode == 'Create'
											? ('Pages.ResetPassword.createpassword' | translate)
											: ('Pages.ResetPassword.chnagepassword' | translate)
									}}
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
