input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

$topnav-background-color: #222;
:host {
	display: block;
}

.login-logo-new {
	width: 100%;
	margin: auto;
	a {
		position: relative;
		bottom: 22px;
	}
}

.error {
	font-family: 'Poppins-Regular' !important;
}

.content .form-group label {
	font-size: 1.25rem;
}

.placeHolder_font input::-webkit-input-placeholder {
	font-size: 1rem !important;
	padding-bottom: 3px;
}

.red-border {
	border-color: red !important;
}

.valid-feedback {
	color: green;
}

.invalid-feedback {
	color: #a94442;
}

.error-message {
	color: #a94442;
	font-size: inherit;
}
