.offerlink {
	box-shadow: none;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-color: #aeacb4;
}

.browse_lable {
	font-weight: 100;
	color: white;
}

.icon-align {
	position: relative;
	left: -5px;
	top: 2px;
}

.amountsing {
	background-color: #58748b;
	border: 1px solid #58748b;
	color: #ffffff;
}

.slideshowtextadd {
	float: right;
	position: relative;
	bottom: 49px;
}

.slideshowtextremove {
	float: right;
	position: relative;
	bottom: 45px;
	right: 12px;
}

.switch input {
	display: none;
}

.slider.round {
	border-radius: 34px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #6513e1;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round:before {
	border-radius: 50%;
}

.slider:before {
	position: absolute;
	content: '';
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

.pl15 {
	padding-left: 15px;
}

tr {
	height: 80px;
}

.pageDiv {
	padding-left: 1.9%;
	padding-right: 0.9%;
}

.pt10 {
	padding-top: 10px !important;
}

.form-group {
	margin-top: 1rem;
}

::ng-deep.user .md-drppicker.drops-down-auto.ltr.double.show-ranges.shown {
	left: -19.7rem !important;
	width: 37.5rem !important;
}

::ng-deep.md-drppicker .btn {
	border-radius: 8px;
	margin-left: 8px;
	padding: 0 12px;
	background-color: var(--check-box-color);
}
::ng-deep.md-drppicker .btn.btn-default {
	background-color: lightgray;
}

::ng-deep button.btn.btn-default.clear {
	background-color: lightgray !important;
}

::ng-deep.md-drppicker .clear svg {
	display: none;
}

.edit-disabled {
	color: white !important;
	background-color: #8890a4 !important;
	border: 0.5px solid #8890a4 !important;
}
