<ion-content no-bounce has-bouncing="false" forceOverscroll="false" style="--background: #f2f2f2">
	<ion-content>
		<div class="login-container" [ngStyle]="getBackgroundStyle()">
			<div class="login-box">
				<div style="width: 100%" class="ion-text-center" *ngIf="appService.loginPWALogo">
					<img [src]="appService.loginPWALogo" class="logo-image" />
				</div>
				<div style="width: 100%" class="ion-text-center" *ngIf="!appService.loginPWALogo">
					<img *ngIf="projectName == 'drip'" src="assets/icon/drip_logo.png" class="logo-image" />
					<img *ngIf="projectName == 'diwo'" src="assets/icon/diwo_logo.png" class="logo-image" />
				</div>

				<div *ngIf="!isEmailSend">
					<h2 class="forgot-password-text">{{ 'Utils.forgotpassword' | translate }}</h2>
					<p class="forgot-reset-link-text">{{ 'Utils.forgotpasswordtext' | translate }}</p>

					<div class="email">
						<ion-label position="floating" class="input-labels">{{ getPlaceholder()}}</ion-label>
						<ion-item class="input-box">
							<ion-input
								type="text"
								[(ngModel)]="loginInput"
								[placeholder]="getPlaceholder()"
								(keyup.enter)="onClickRequestLink()"></ion-input>
						</ion-item>
					</div>

					<a (click)="onClickRequestLink()" class="requestlink-btn">{{ 'Utils.requestresetlink' | translate }}</a>
					<!-- <div>
					<p style="margin: 0; font-size: 0.65rem; text-align: center; color: #3b3a3a" *ngIf="isEmailSend">
						{{ 'Utils.forgotlinksent' | translate }}
					</p>
				</div> -->
					<div style="text-align: center">
						<a (click)="backtoLogin()" class="backtologin-txt">{{ 'Utils.backtologin' | translate }}</a>
					</div>
				</div>

				<div *ngIf="isEmailSend" class="ion-text-center">
					<div [innerHTML]="iconObject['emailIcon']"></div>

					<h2 class="forgot-password-text">{{ 'Utils.checkmailtitle' | translate }}</h2>
					<p style="text-align: center; color: #000">{{ 'Utils.checkmailsubtitle' | translate }}</p>
					<p style="font-size: 0.8rem; color: #3b3a3a">{{ 'Utils.checkmaildescription' | translate }}</p>

					<div style="display: flex; align-items: center; justify-content: center">
						<p style="font-weight: bold; color: #000; margin: 0">{{ 'Utils.sendto' | translate }}:</p>
						<span style="margin-left: 0.3rem" *ngIf="emailSendTo">{{ emailSendTo}}</span>
					</div>

					<a (click)="backtoLogin()" class="requestlink-btn">{{ 'Utils.backtologin' | translate }}</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-content>
