.section-wrapper {
	border: 2px solid rgba(0, 0, 0, 0.07) !important;
	border-radius: 12px;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.card {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
}

.card:hover {
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 4px;
}

.ng-select .ng-select-container {
	align-items: center;
	padding: 6px 7px 6px 4px;
	border: 2px solid rgba(0, 0, 0, 0.07) !important;
	border-radius: 8px;
}

.form-group {
	margin-bottom: 8px;
	margin-top: 12px;
}

.valueCss {
	margin-bottom: 8px;
	margin-top: 12px;
}

.form-title {
	background-color: #f9fafb;
	height: 55px;
}

.participant-status-approved {
	padding: 6px 31px;
	background: #e0f8ef;
	border-radius: 16px;
	color: #18a16f;
	font-size: 0.7rem;
	cursor: pointer;
}

.participant-status-not-approve {
	padding: 6px 34px;
	background: #fff1da;
	border-radius: 16px;
	color: #ffa70b;
	font-size: 0.7rem;
	cursor: pointer;
}

.mzd-timeline-content {
	border: 2px solid #6513e1 !important;
}

mzd-timeline {
	padding: 10px 0;
}

.correct-answer {
	color: #18a16f;
	background: #e0f8ef;
}

.half-correct-answer {
	color: #ffa70b;
	background: #fff1da;
}

.wrong-answer {
	color: #d34053;
	background: #f8e2e5;
}

.option-padding {
	padding: 0px 5px 0px 5px;
}

/* Show Result Popup */

.show-result-box {
	border: 1px solid lightgray;
	border-radius: 8px;
	display: grid;
	height: 5rem;
}

.show-result-box-text {
	font-size: 2.5rem;
	text-align: center;
	color: black;
}

.show-result-box-title {
	text-align: center;
	font-size: 0.9rem;
	color: black;
}

.flag-div {
	justify-content: flex-end;
	margin-right: -1rem;
	position: relative;
}

.activity-type {
	left: 0;
	height: 100%;
	border-radius: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 0.3rem;
}

.flag-icons {
	width: 30px;
	height: 30px;
	margin-right: 0.8rem;
	margin-top: 0.5rem;
}

.worksheet-type-icon {
	width: 30px;
	height: 30px;
}

.learning-content-icon {
	width: 22px;
	height: 22px;
}

mzd-timeline-content.no-alternate.content-right:before {
	display: none !important;
}

::ng-deep g.tick text {
	font-size: 1.1rem !important;
}

.sub-card,
.license-sub-card {
	background-color: #ffffff;
	position: relative;
	color: #5b5b60;
	border: 2px solid rgba(0, 0, 0, 0.07);
	border-radius: 15px;
	padding: 1.25rem 1.563rem;
	cursor: pointer;
}

.total-count,
.license-total-count {
	font-weight: 500;
	font-size: 1.3rem;
	color: black;
}

.sub-card p.title,
.license-title {
	font-size: 0.9rem;
	font-weight: 600;
	color: #637373;
}

.sub-card img {
	background: rgb(182 206 214 / 25%);
	border-radius: 50%;
	padding: 0px 8px;
	height: 2.4rem;
	width: 2.5rem;
}

.panel-white-2 {
	background-color: #ffffff;
	position: relative;
	color: #5b5b60;
	/* margin: 0 1.375rem 1.563rem 0.8rem; */
	margin: 0 1.9% 1.9% 1.9%;
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
	.panel-white-2 {
		margin: 0 2.4% 1.9% 1.9%;
	}

	.panel-white-4 {
		margin: 0 2.4% 1.9% 1.9%;
	}
}

.panel-white-3,
.panel-white-4 {
	background-color: #ffffff;
	position: relative;
	color: #5b5b60;
	/* margin:0 2.5rem 1.563rem 1.7rem; */
	margin: 0 1.9% 1.9% 1.9%;
	border: 2px solid rgba(0, 0, 0, 0.07);
	border-radius: 15px;
	margin-bottom: 2rem;
}

.panel-white-3 {
	padding: 1.25rem;
}

.report-header {
	font-size: 0.9rem !important;
	font-weight: 500 !important;
	text-transform: uppercase;
	color: black !important;
	background-color: #f9fafb;
	padding: 14px 20px;
	border-radius: 12px 12px 0 0;
	height: 55px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.07) !important;
}

.image-container {
	position: relative;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.image-container:hover .image {
	opacity: 0.3;
}

.image-container:hover .middle {
	opacity: 1;
}

.text {
	color: white;
	font-size: 0.9rem;
}

.timeline-image-wrapper {
	height: 10.38vw;
	width: 80%;
}

.timeline-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

::ng-deep mzd-timeline-content mzd-icon p {
	margin-left: -15px !important;
}
