<ion-content no-bounce has-bouncing="false" forceOverscroll="false" style="--background: #f2f2f2">
	<ion-content>
		<div class="login-container" [ngStyle]="getBackgroundStyle()">
			<div class="login-box">
				<div style="width: 100%" class="ion-text-center" *ngIf="appService.loginPWALogo">
					<img [src]="appService.loginPWALogo" class="logo-image" />
				</div>
				<div style="width: 100%" class="ion-text-center" *ngIf="!appService.loginPWALogo">
					<img *ngIf="projectName == 'drip'" src="assets/icon/drip_logo.png" class="logo-image" />
					<img *ngIf="projectName == 'diwo'" src="assets/icon/diwo_logo.png" class="logo-image" />
				</div>

				<h2 class="reset-password-text">
					{{ pageMode == 'Create' ? ('Utils.createpassword' | translate) : ('Utils.resetpassword' | translate) }}
				</h2>

				<form [formGroup]="form">
					<div class="new-password">
						<ion-label position="floating" class="input-labels">{{ 'Utils.newpassword' | translate }}</ion-label>
						<ion-item class="input-box">
							<ion-input
								[type]="showPassword ? 'text' : 'password'"
								formControlName="newPassword"
								[placeholder]="'Utils.newpassword' | translate"
								(ionChange)="checkPasswordStrength()"
								[disabled]="isTokenExpired"
								(keyup.enter)="resetPassword()"></ion-input>
							<ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()"></ion-icon>
						</ion-item>
						<div *ngIf="form.get('newPassword').touched && form.get('newPassword').invalid" class="error-message">
							<span *ngIf="form.get('newPassword').errors?.required"
								>{{ 'Utils.newpasswordrequired' | translate }}</span
							>
						</div>
					</div>

					<div
						class="password-strength"
						*ngIf="(passwordFeedback && passwordFeedback.length > 0 ) || (form.get('confirmPassword').errors?.mismatch)">
						<ul>
							<li
								*ngFor="let feedback of passwordFeedback"
								[ngClass]="{'valid-feedback': feedback.valid, 'invalid-feedback': !feedback.valid}">
								{{ feedback.message }}
							</li>
						</ul>
					</div>

					<div class="confirm-password">
						<ion-label position="floating" class="input-labels">{{ 'Utils.confirmpassword' | translate }}</ion-label>
						<ion-item class="input-box">
							<ion-input
								[type]="showConfirmPassword ? 'text' : 'password'"
								formControlName="confirmPassword"
								[placeholder]="'Utils.confirmpassword' | translate"
								[disabled]="isTokenExpired"
								(keyup.enter)="resetPassword()"></ion-input>
							<ion-icon
								slot="end"
								[name]="showConfirmPassword ? 'eye-off' : 'eye'"
								(click)="toggleConfirmPassword()"></ion-icon>
						</ion-item>
						<div
							*ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid"
							class="error-message">
							<span *ngIf="form.get('confirmPassword').errors?.required"
								>{{ 'Utils.confirmpasswordrequired' | translate }}</span
							>
						</div>
						<div
							*ngIf="!form.get('confirmPassword').errors?.required && form.get('confirmPassword').errors?.mismatch"
							class="error-message">
							{{ 'Utils.passwordnotmatch' | translate }}
						</div>
					</div>

					<ion-button type="button" class="changepassword-btn" [disabled]="isTokenExpired" (click)="resetPassword()">
						{{ pageMode =='Create' ? ('Utils.createpasswordbtn' | translate) : ('Utils.chnagepassword' | translate) }}
					</ion-button>
				</form>
			</div>
		</div>
	</ion-content>
</ion-content>
