<div class="page" [@routerTransition]>
	<div class="page__content" id="page-content">
		<div
			class="content d-none d-lg-block"
			style="width: 68%; background: white; display: flex !important; align-content: center; align-items: center"
			id="content">
			<img style="width: 110%; visibility: hidden" src="" />
		</div>
		<div class="important-container login-container" style="width: 42%; text-align: center">
			<div class="content page-login">
				<div class="login-logo-new" style="margin: unset; margin-bottom: 10px; text-align: center">
					<a>
						<img
							*ngIf="projectName == 'drip' && !appService.loginWebLogo"
							style="width: 65% !important"
							src="assets/images/drip_logo.png"
							alt="Packet" />
						<img
							*ngIf="projectName == 'drip' && appService.loginWebLogo"
							style="width: 65% !important"
							[src]="appService.loginWebLogo"
							alt="Packet" />
						<img
							*ngIf="projectName == 'diwo' && !appService.loginWebLogo"
							style="width: 65% !important"
							src="assets/images/diwo_logo.png"
							alt="Packet" />
						<img
							*ngIf="projectName == 'diwo' && appService.loginWebLogo"
							style="width: 65% !important"
							[src]="appService.loginWebLogo"
							alt="Packet" />
					</a>
				</div>

				<div *ngIf="!isEmailSend">
					<h3 style="color: #323c47; font-weight: bold">{{ 'Pages.ForgotPassword.title' | translate }}</h3>
					<div style="margin-bottom: 2rem">
						<p>{{ 'Pages.ForgotPassword.forgotpasswordtext' | translate }}</p>
					</div>

					<form [formGroup]="forgotForm" id="screen1" (keyup.enter)="getLogin()" autocomplete="off">
						<div>
							<!-- Email -->
							<div
								class="form-group align-left-ipad"
								style="margin-bottom: 15px !important"
								[ngClass]="{
									'has-error': f.email.invalid && (f.email.dirty || f.email.touched),
									'has-success': f.email.valid && (f.email.dirty || f.email.touched)
								}">
								<label style="font-weight: 500; font-family: 'Poppins-Regular' !important">{{
									'Pages.ForgotPassword.registeredEmailAddress' | translate
								}}</label>
								<div class="row">
									<div class="col-xs-12 col-md-12 col-sm-12">
										<input
											[ngClass]="{ 'red-border': emailError == true }"
											type="text"
											id="email"
											class="form-control signup_page"
											[placeholder]="'Pages.ForgotPassword.registeredEmailAddress' | translate"
											formControlName="email"
											style="
												border-radius: 80px;
												padding-left: 20px !important;
												height: 50px !important;
												font-size: 1.125rem !important;
											"
											(input)="addEmail($event.target.value)"
											[attr.disabled]="
												appService.configurable_feature && !appService.configurable_feature.web_password ? true : null
											" />
										<div class="error" *ngIf="f.email.errors && f.email.touched">
											<div *ngIf="f.email.errors.required">
												{{ 'Pages.ForgotPassword.registeredEmailAddressError' | translate }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group margin-bottom-30">
							<div style="text-align: center">
								<div class="" style="width: 100%">
									<button
										class="btn btn-primary btn-block btnsize1 test"
										(click)="getLogin()"
										[attr.style]="
											'border-radius: 60px; font-size: 1.25rem; background-color: ' +
											appService.whiteBrandingColor +
											' !important; border: 1px solid ' +
											appService.whiteBrandingColor +
											' !important; color: white !important;'
										"
										[attr.disabled]="
											appService.configurable_feature && !appService.configurable_feature.web_password ? true : null
										">
										{{ 'Pages.ForgotPassword.requestresetlink' | translate }}
									</button>
									<!-- <div>
										<p style="margin: 0.5rem 0px" *ngIf="isEmailSend">
											{{ 'Pages.ForgotPassword.forgotlinksent' | translate }}
										</p>
									</div> -->
								</div>
								<div style="margin-top: 1rem">
									<a (click)="backtoLogin()" class="backtologin" [ngStyle]="{ color: appService.whiteBrandingColor }">
										{{ 'Pages.ForgotPassword.backtologin' | translate }}
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div *ngIf="isEmailSend">
					<div [innerHTML]="iconObject['emailIcon']" style="margin-top: -10px"></div>

					<h3 style="color: #323c47; font-weight: bold">
						{{ 'Pages.ForgotPassword.checkmailtitle' | translate }}
					</h3>
					<div style="margin-bottom: 1rem">
						<p style="color: #000">{{ 'Pages.ForgotPassword.checkmailsubtitle' | translate }}</p>
						<p style="font-size: 0.8rem; color: #323c47">
							{{ 'Pages.ForgotPassword.checkmaildescription' | translate }}
						</p>
					</div>

					<div style="display: flex; align-items: center; justify-content: center; margin-bottom: 1rem">
						<p style="font-weight: bold; color: #000; margin: 0">{{ 'Pages.ForgotPassword.sendto' | translate }}:</p>
						<span style="margin-left: 0.3rem; color: #323c47">{{ f.email.value }}</span>
					</div>

					<div class="form-group margin-bottom-30">
						<div style="text-align: center">
							<div class="" style="width: 100%">
								<button
									class="btn btn-primary btn-block btnsize1 test"
									(click)="backtoLogin()"
									[attr.style]="
										'border-radius: 60px; font-size: 1.25rem; background-color: ' +
										appService.whiteBrandingColor +
										' !important; border: 1px solid ' +
										appService.whiteBrandingColor +
										' !important; color: white !important;'
									"
									[attr.disabled]="
										appService.configurable_feature && !appService.configurable_feature.web_password ? true : null
									">
									{{ 'Pages.ForgotPassword.backtologin' | translate }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
