<ion-header>
	<ion-toolbar class="toolbar-head">
		<ion-title class="ion-text-center">
			<img src="assets/images/landrover/landroverappicon.svg" class="header-logo" />
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div>
		<img img src="assets/images/landrover/LandRoverMainImg.avif" class="card-image" />
	</div>

	<ion-grid>
		<ion-row>
			<ion-col size-sm="12" size-md="9" size-lg="7" style="margin: 0 auto" class="wb-page-wrapper">
				<ion-card class="ion-card">
					<ion-card-content class="ion-no-padding">
						<div class="cmp-hero__copy">
							<h1 class="title">
								<span class="headingWrapper">
									<p>THE VAULT</p>
								</span>
							</h1>

							<div class="headerCopy">
								<p></p>
								<p>Untold Stories. Unearthed Experiences. A Peak into our future.</p>
								<p></p>
							</div>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<section class="blog">
		<!-- blog 1 -->
		<ion-grid>
			<ion-row>
				<ion-col size-sm="12" size-md="9" size-lg="7" style="margin: 0 auto" class="wb-page-wrapper">
					<ion-card class="ion-card">
						<ion-card-content class="ion-no-padding">
							<div>
								<img img src="assets/images/landrover/blog-1.avif" class="card-blog-image" />
							</div>
						</ion-card-content>

						<ion-card-content class="ion-no-padding">
							<div class="Article__wrapper">
								<h2 class="Article__heading">
									<p>DEFENDED JOURNEYS: TRAVEL. FROM A UNIQUE PERSPECTIVE.</p>
								</h2>

								<div class="Article__content">
									<p class="para">
										Behind the wheel of Defender, a world of possibility becomes a lifetime of stories. For those who
										yearn to travel differently, we have journeys like no other, where you will uncover sights and
										sounds that will stay with you forever. This is the self-drive adventure of a lifetime. Do the
										exceptional with Defender. <br />
										<br />
										Experience the splendour of Sub-Saharan Africa through your choice of four intrepid itineraries.
										Home to majestic wildlife, immense deserts, and iconic waterfalls, the ever-changing landscape of
										Sub-Saharan Africa offers a world of unforgettable experiences. From the surreal landscapes and
										famous national parks of Namibia to the vibrant lagoons and lush game reserves of Botswana, you'll
										explore some of the world's greatest national wonders and encounter breathtaking wildlife along the
										way.
									</p>
								</div>

								<ion-button class="upload-btn" (click)="block1()">Book now</ion-button>
							</div>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>

		<!-- blog 2 -->
		<ion-grid>
			<ion-row>
				<ion-col size-sm="12" size-md="9" size-lg="7" style="margin: 0 auto" class="wb-page-wrapper">
					<ion-card class="ion-card">
						<ion-card-content class="ion-no-padding">
							<div>
								<img img src="assets/images/landrover/blog-2.avif" class="card-blog-image" />
							</div>
						</ion-card-content>

						<ion-card-content class="ion-no-padding">
							<div class="Article__wrapper">
								<h2 class="Article__heading">
									<p>YOUR CHOICE OF POWER!</p>
								</h2>

								<div class="Article__content">
									<p class="para">
										Did you know the way you drive, where you drive and how far you drive can all have a big impact on
										your vehicle's performance and efficiency? For instance, regular commuting in stop-start city
										traffic will typically benefit from a different kind of power to regular journeys on motorways or
										frequent towing. Here we can help you find the right fit for your driving needs.
										<br />
										<br />

										Electric vehicles are powered by an electric motor and a battery. Instead of fuelling up at a petrol
										station you keep your car charged through a home charging point. Plug-in electric hybrid vehicles
										(PHEV) combine a petrol engine and an electric motor, meaning a home charging point is optional.
										Mild electric hybrid vehicles (MHEV) require no charging. They enhance the efficiency of their
										engines by reusing energy collected through deceleration and regenerative braking.
										<br />
										<br />
										Answer five quick questions about your driving habits to see what kind of electric vehicle is right
										for you.
									</p>
								</div>
								<ion-button class="upload-btn" (click)="block2()">Click to begin</ion-button>
							</div>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>

		<!-- blog 3 -->
		<ion-grid>
			<ion-row>
				<ion-col size-sm="12" size-md="9" size-lg="7" style="margin: 0 auto" class="wb-page-wrapper">
					<ion-card class="ion-card">
						<ion-card-content class="ion-no-padding">
							<div>
								<img img src="assets/images/landrover/blog-3.avif" class="card-blog-image" />
							</div>
						</ion-card-content>

						<ion-card-content class="ion-no-padding">
							<div class="Article__wrapper">
								<h2 class="Article__heading">
									<p>BRANCHING OUT - THE STORY OF ERIN TRUE.</p>
								</h2>

								<div class="Article__content">
									<p class="para">
										Meet Range Rover Sports Owner Erin True. She reclaims wood from demolition and historical sites and
										repurposes it into beautiful furniture. <br />
										<br />

										"I didn't plan to be a furniture maker. It happened by accident," says Erin True, founder and owner
										of Urban Wood Goods. Surrounded by tons of reclaimed lumber soon to be turned into tables in her
										12,000-square-foot Chicago warehouse, it's hard to imagine how impressive her purposeful actions
										could be.
										<br />
										<br />
										"To me, my Range Rover represents luxury, craftsmanship and quality. It's what I aspire for my brand
										to be."
										<br />
										<br />
										Erin True, Founder and Owner of Urban Wood Goods.
									</p>
								</div>
								<ion-button class="upload-btn" (click)="block3()">Read her full story here</ion-button>
							</div>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</section>

	<section>
		<ion-grid>
			<ion-row>
				<ion-col size-sm="12" size-md="9" size-lg="7" style="margin: 0 auto" class="wb-page-wrapper">
					<ion-card class="ion-card">
						<ion-card-content class="ion-no-padding">
							<div class="cmp_footerNav__social-links" id="social">
								<div aria-level="2" class="cmp_footerNav__heading" role="heading">BOOK YOUR TEST DRIVE</div>

								<div aria-level="2" class="cmp_footerNav__heading" role="heading">JOIN THE CONVERSATION</div>

								<div style="margin-top: 1cap">
									<div class="social-media-link-sec">
										<a
											class="social_facebook TargetLinks"
											style="margin-left: 0"
											aria-label="JOIN THE CONVERSATION:FACEBOOK"
											href="https://www.facebook.com/landrover"
											target="_blank"
											data-target="_blank"
											data-di-id="di-id-569d0c90-a09c622d">
											<img img src="/assets/images/landrover/facebook.svg" class="social_icons" />
										</a>

										<a
											class="social_twitter TargetLinks"
											aria-label="JOIN THE CONVERSATION:X"
											href="https://www.x.com/LandRover"
											target="_blank"
											data-target="_blank"
											data-di-id="di-id-9b7a6fa9-b997cd48">
											<img img src="/assets/images/landrover/twitter.svg" class="social_icons" />
										</a>

										<a
											class="social_youtube TargetLinks"
											aria-label="JOIN THE CONVERSATION:YOUTUBE"
											href="https://www.youtube.com/user/LandRoverusa"
											target="_blank"
											data-target="_blank"
											data-di-id="di-id-f896f468-bde1418c">
											<img img src="/assets/images/landrover/youtube.svg" class="social_icons" />
										</a>

										<a
											class="social_instagram TargetLinks"
											aria-label="JOIN THE CONVERSATION:INSTAGRAM"
											href="https://www.instagram.com/landrover"
											target="_blank"
											data-target="_blank"
											data-di-id="di-id-569d0c90-e2129141">
											<img img src="/assets/images/landrover/instagram.svg" class="social_icons" />
										</a>

										<a
											class="social_linkedin TargetLinks"
											aria-label="JOIN THE CONVERSATION:LINKEDIN"
											href="https://www.linkedin.com/company/jaguar-land-rover-north-america/"
											target="_self"
											data-target="_self"
											data-di-id="di-id-8e36ad82-8bf3611d">
											<img img src="/assets/images/landrover/linkedin.svg" class="social_icons" />
										</a>
									</div>
								</div>
							</div>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</section>
</ion-content>
