export const environment = {
  production: true
};

export const ENV: any = {
  mode:                "{{ PWA_APP_MODE }}",    
  host:                "{{ PWA_API_HOST_URL }}",           
  imageHost:           "{{ PWA_IMAGE_HOST_URL }}",         
  imagePath:           "{{ PWA_IMAGE_PATH_URL }}",         
  appVersion:          "{{ PWA_APP_VERSION }}",            
  basehref:            "{{ PWA_BASEHREF }}",               
  dripHostPlacholder : "{{ PWA_DRIP_HOST_PLACEHOLDER }}",   
  diwoHostPlacholder : "{{ PWA_DIWO_HOST_PLACEHOLDER }}"   
};