@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

ion-toolbar.toolbar-head {
	height: 65px;
}

p {
	margin: 0;
}

.ws-index {
	color: var(--branding-color);
	font-size: 0.9rem;
}

.ws-wrapper {
	margin: 0.1rem auto 1.4rem;
	border-radius: 1rem;
	// box-shadow: 1px 3px 4px 0 rgb(0, 0, 20);
	// box-shadow: 1px 3px 4px 0 #d2cfd6;
	padding: 0;
	border: 2px solid lightgray;
}

.worksheet-score-div {
	display: flex;
	align-items: center;
	margin: 1.5rem 0 1.5rem 0;
}

.quiz-completed-note {
	position: absolute;
	left: 20px;
	font-size: 15px;
	display: flex;
	align-items: center;
}

.ws-img {
	object-fit: contain;
	display: block;
	width: 100%;
	border-radius: 0.9rem 0.9rem 0 0;
	cursor: pointer;
	// height: 209.39px;
}

.description {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	font-size: 1rem;
	line-height: 23px;
	font-weight: 300;
	text-align: left;
}

.trainer-note,
.learner-note {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 1rem;
	line-height: 23px;
	font-weight: 300;
	text-align: left;
}

.learner-note {
	font-style: italic;
}

.description {
	margin: 1rem 0 0 0;
	cursor: pointer;
}

.trainer-note {
	margin: 1rem 0;
	color: #605757;
}

.edit-learner-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0 0;
}

.show-learner-note {
	width: 87%;
	border-radius: 0.7rem;
	padding: 0.7rem;
	margin-right: 0.7rem;
	background-color: #f0eeee;
}

// textarea.learner-input::placeholder {
//     color: #fff;
// }

.learner-input {
	width: 100%;
	margin-top: 1rem;
	border-radius: 1rem;
	font-size: 1rem;
	border: none;
	margin-left: -0.25rem;
	// color: #fff;
}

.flag-div {
	display: flex;
	justify-content: flex-end;
	margin-right: -1rem;
	position: relative;
}

.activity-type {
	position: absolute;
	left: 0;
	// width: 50%;
	height: 100%;
	border-radius: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.flag-group {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.flag-icons {
	width: 30px;
	height: 30px;
	margin-right: 0.8rem;
}

.back-to-top-btn {
	background: var(--branding-color);
	position: fixed;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
	right: 3%;
	bottom: 5%;
	z-index: 999;

	#top-icon {
		height: 45%;
		width: 45%;
	}
}

.note-btn {
	margin: 0.5rem 0 0.75rem 0;
	height: 2.3rem;
	font-size: 1rem;
	--color: white;
	text-transform: none;
	box-shadow: none;
	--background: var(--branding-color);
	// --border-radius: 2rem;
	--border-radius: 0.625rem;
}

.worksheet-data {
	padding: 1rem;
}

#add-notes-label {
	width: 100%;
	background-color: #f0eeee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0 0;
	border-radius: 0.7rem;
	height: 3rem;
}

.icon-border {
	border-radius: 0.7rem;
	border: 1px solid var(--branding-color);
	height: 65px;
	width: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.note-modal-icons {
	display: flex;
	justify-content: flex-start;
	margin-top: 1rem;
}

.modal-action-btn-div {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.worksheet-type-icon {
	width: 30px;
	height: 30px;
}

.learning-content-icon {
	width: 22px;
	height: 22px;
}

.wordcloud-type-icon {
	width: 30px;
	height: 18px;
	margin-left: 0.3rem;
}

.worksheet-type-text {
	margin-left: 0.5rem;
}

ion-title {
	padding: 0px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

// @media only screen and (min-width: 768px) and (orientation: portrait) {
//     .ws-img {
//         height: 305px !important;
//     }
// }
// @media only screen and (min-width: 840px) and (orientation: landscape) {
//     .ws-img {
//         height: 369px !important;
//     }
// }
// @media only screen and (min-width: 1435px) and (orientation: portrait) {
//     .ws-img {
//         height: 453px !important;
//     }
// }
// @media only screen and (min-width: 819px) and (orientation: portrait) {
//     .ws-img {
//         height: 328px !important;
//     }
// }
// @media only screen and (min-width: 910px) and (orientation: portrait) {
//     .ws-img {
//         height: 367px !important;
//     }
// }
// @media only screen and (min-width: 992px) and (orientation: landscape) {
//     .ws-img {
//         height: 374px !important;
//     }
// }

.btn-print {
	--border-radius: 4px;
	--padding-top: 0;
	--padding-bottom: 0;
	--padding-start: 1.1em;
	--padding-end: 1.1em;
	--transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear, color 15ms linear;
	margin: 4px 2px;
	height: 36px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.img-head {
	height: 203px;
	overflow: hidden;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
	.img-head {
		height: 400px;
	}
}

@media only screen and (min-width: 992px) and (orientation: landscape) {
	.img-head {
		height: 490px;
	}
}

.fav-icon-select {
	width: 30px;
	height: 30px;
	mask: url('/assets/images/workbook/favorite_selected_icon.svg') no-repeat center / contain;
	-webkit-mask: url('/assets/images/workbook/favorite_selected_icon.svg') no-repeat center / contain;
	background-color: var(--branding-color);
}

.trainer-icon-select {
	width: 30px;
	height: 30px;
	mask: url('/assets/images/workbook/trainerNoteShow.svg') no-repeat center / contain;
	-webkit-mask: url('/assets/images/workbook/trainerNoteShow.svg') no-repeat center / contain;
	background-color: var(--branding-color);
}
