.country-selection {
	--background: white;
	background: white;
	padding: 6%;
	min-height: -webkit-fill-available;
	max-width: 50%;
	margin: 0 auto;
	height: 100%;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.login-box {
	width: 90%;
	max-width: 400px;
	padding: 2rem 3.125rem;
	border: 1px solid #ddd;
	// border-radius: 0.625rem;
	border-radius: 0.8rem;
	background: #ffffffc4;
}

.logo-image {
	width: 14rem;
	height: auto;
}

.logo-image-default {
	width: 4rem;
	height: auto;
}

//////////LAnguage Selector///////////

.select-box {
	text-align: right;
	// padding: 1rem;
	position: absolute;
	// top: 10px;
	// right: 10px;
	top: 20px;
	right: 20px;
}

.select-container {
	position: relative;
	display: inline-block;
}

.lang-select {
	color: white;
	padding: 0.4rem 2.4rem 0.4rem 2.4rem;
	border-radius: 0.4rem;
	background-color: #333333ab;
	-webkit-appearance: none;
	appearance: none;
	font-size: 1rem;
	cursor: pointer;
	border: none;
}

.select-container::after {
	content: '▾';
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	color: white;
	font-size: 1rem;
}

.select-container.open::after {
	content: '▴';
}

.icon {
	position: absolute;
	left: 0.6rem;
	top: 60%;
	transform: translateY(-50%);
	pointer-events: none;
	color: white;
}

// .right-edit-icon.rtl img {
// 	transform: rotate(180deg);
// }

.span_message {
	margin-inline-end: 8%;
}

//////////LAnguage Selector ENd///////////

.signIn-txt {
	text-align: center;
}

.country-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;
	margin-bottom: 1.25rem;
}

.flag {
	width: 1.5rem;
	height: 1rem;
}

.input-box {
	width: 100%;
	border: 1px solid #747474;
	border-radius: 0.5rem;
	--background: none;
	--border-width: 0px;
	--highlight-color-invalid: #747474 !important;
	--show-full-highlight: 0 !important;
}

.email-phone-username {
	margin-top: 0.5rem;
}

.password {
	margin-top: 0.5rem;
}

.otp {
	margin-top: 0.5rem;
}

.input-labels {
	font-size: 0.75rem;
	color: #575757;
}

.resentOTP {
	margin-bottom: 1.5rem;
	font-size: 0.75rem;
	cursor: pointer;
	color: var(--branding-color);
}

ion-input {
	width: 100%;
	padding: 0.625rem;
	font-size: 0.8rem;
}

.clicktorecivedotp-text {
	font-size: 0.75rem;
	margin-top: 0.3rem;
	color: #575757;
}

.rounded-btn {
	border-radius: 1.563rem;
	width: 80%;
	margin-top: 0.625rem;
}

.reset-password {
	display: block;
	margin-top: 0.625rem;
	font-size: 0.75rem;
	color: var(--branding-color);
	cursor: pointer;
	text-align: center;
}

.custom-branding-text {
	font-size: 0.65rem;
	margin: 1rem 0rem 0rem 0rem;
	text-align: center;
	color: #575757;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.signIn-btn {
	display: inline-block;
	text-align: center;
	border-radius: 2.5rem;
	width: 100%;
	padding: 0.625rem 1rem;
	font-size: 1rem;
	background-color: var(--branding-color);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	margin-top: 1.5rem;
	--background: var(--branding-color);
	--background-focused: var(--branding-color);
	--box-shadow: none;
	--background-hover: var(--branding-color);
	--background-focused: var(--branding-color);
	--background-activated: var(--branding-color);
	--background-activated-opacity: 1;
	--background-focused-opacity: 1;
	--background-hover-opacity: 1;
}

.right-edit-icon {
	margin-top: 0.625rem;
}

@media (min-width: 768px) {
	.login-box {
		max-width: 485px;
	}

	.logo-image {
		width: 16rem;
	}

	.logo-image-default {
		width: 6rem;
	}

	ion-input {
		font-size: 0.9rem;
	}
}

@media (min-width: 1024px) {
	.login-box {
		max-width: 485px;
	}

	.logo-image {
		width: 18rem;
	}

	.logo-image-default {
		width: 8rem;
	}

	ion-input {
		font-size: 1rem;
	}
}

@media (max-width: 767px) {
	.login-container {
		background-color: #f4f5f3;
		background-image: none !important;
	}

	.country-selection {
		max-width: 100%;
	}
}
