.switch input {
	display: none;
}

.slider.round {
	border-radius: 34px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #6513e1;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round:before {
	border-radius: 50%;
}

.slider:before {
	position: absolute;
	content: '';
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

tr {
	height: 80px;
}

.pageDiv {
	padding-left: 1.9%;
	padding-right: 0.9%;
}

#download {
	color: #6513e1;
	position: absolute;
	right: 185px;
	top: 40px;
	font-size: 0.8rem !important;
}

.form-group {
	margin-top: 1rem;
}

.uploadLearner {
	float: right;
	margin-right: 0.75rem;
	font-size: 0.9rem;
	font-weight: 500;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.status-pending {
	padding: 0.375rem 1.313rem;
	background: #eff3f4;
	color: #8890a4;
	border-radius: 16px;
	color: #8890a4;
	font-size: 0.7rem;
	// border: 1px solid #eff3f4;
}

.status-opted-in {
	padding: 0.375rem 1.313rem;
	background: #e0f8ef;
	color: #18a16f;
	border-radius: 16px;
	font-size: 0.7rem;
	// border: 1px solid #eff3f4;
}

.status-synced {
	padding: 0.375rem 2rem;
	background: #e0f8ef;
	color: #18a16f;
	border-radius: 16px;
	font-size: 0.7rem;
	// border: 1px solid #eff3f4;
}

.status-not-synced {
	padding: 0.375rem 1.313rem;
	background: #eff3f4;
	color: #8890a4;
	border-radius: 16px;
	color: #8890a4;
	font-size: 0.7rem;
	// border: 1px solid #eff3f4;
}

.status-opted-out {
	padding: 0.375rem 1.063rem;
	background: #f8e2e5;
	color: #d34053;
	border-radius: 16px;
	font-size: 0.7rem;
	// border: 1px solid #eff3f4;
}

.action-archive-btn {
	padding: 0.25rem 0.75rem;
	background-color: white;
	border: 0.5px solid #6513e1;
	border-radius: 16px;
	color: #6513e1;
	font-size: 0.8rem;
	margin-left: 5px;
}

.action-delete-btn {
	padding: 0.25rem 0.875rem;
}

.action-edit-btn {
	padding: 0.25rem 1.125rem;
}

.status-active {
	padding: 0.375rem 1.5rem;
	background: #e0f8ef;
	border-radius: 16px;
	color: #18a16f;
	font-size: 0.7rem;
}

.status-archive {
	padding: 0.375rem 1.875rem;
	background: #f8e2e5;
	border-radius: 16px;
	color: #d34053;
	font-size: 0.7rem;
}

.status-unlicensed {
	padding: 0.375rem 1.125rem;
	background: #fff1da;
	border-radius: 16px;
	color: #ffa70b;
	font-size: 0.7rem;
}

::ng-deep.learner .md-drppicker.drops-down-auto.ltr.double.show-ranges.shown {
	left: -19.6rem !important;
	width: 37.5rem !important;
}

::ng-deep.md-drppicker .btn {
	border-radius: 8px;
	margin-left: 8px;
	padding: 0 12px;
	background-color: var(--check-box-color);
}

::ng-deep.md-drppicker .btn.btn-default {
	background-color: lightgray;
}

::ng-deep button.btn.btn-default.clear {
	background-color: lightgray !important;
}

::ng-deep.md-drppicker .clear svg {
	display: none;
}

.download-learners {
	font-size: 0.9rem;
	font-weight: 500;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	float: right;
	margin-right: 0.75rem;
}

.edit-disabled {
	color: white !important;
	background-color: #8890a4 !important;
	border: 0.5px solid #8890a4 !important;
}

.phone_code {
	margin-top: 11px;
}

.phone_code p {
	color: black !important;
	padding-right: 19px;
}

.info-icon-div {
	display: inline-flex;
	align-items: flex-end;
}

.info-icon {
	margin-left: 0.5rem;
	display: flex;
}

.uploadLearner2 {
	background-color: var(--whiteBrandingColor) !important;
	border: 1px solid var(--whiteBrandingColor) !important;
	color: white !important;
}
