<div style="margin-top: 0.5rem">
	<div class="row">
		<div class="panel panel-white-3">
			<div class="report-header">
				{{ 'Pages.DiwoAnalytics.Home.DiwoActivity.title' | translate }}
			</div>
			<div style="padding: 20px" #container>
				<div class="row">
					<div class="col-md-5">
						<div class="col-md-5" style="padding-left: 0">
							<div class="form-group" style="margin-top: 0">
								<label>{{ 'Pages.DiwoAnalytics.Home.Filter.ViewedBy.title' | translate }}</label>
								<ng-select
									[items]="viewedByList"
									class="ng-select-wrap"
									placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.ViewedBy.placeholder' | translate }}"
									bindLabel="name"
									bindValue="value"
									[multiple]="false"
									[closeOnSelect]="true"
									[searchable]="true"
									[clearable]="false"
									(change)="onChangeViewedBy($event)"
									[(ngModel)]="selectedViewedBy"
									[ngModelOptions]="{ standalone: true }">
								</ng-select>
							</div>
						</div>
						<!-- <div class="col-md-3"></div> -->
						<div class="col-md-7 filter-date" style="padding-right: 0">
							<div class="form-group" style="margin-top: 0">
								<label style="min-width: 94px">{{ 'Pages.DiwoAnalytics.Home.Filter.filterDate' | translate }} </label>
								<input
									type="text"
									ngxDaterangepickerMd
									[showDropdowns]="true"
									onkeydown="return false"
									[showCustomRangeLabel]="true"
									[alwaysShowCalendars]="true"
									[ranges]="ranges"
									[maxDate]="maxDate"
									[linkedCalendars]="true"
									[isInvalidDate]="isInvalidDate"
									[showClearButton]="true"
									[showCancel]="true"
									placeholder="DD-MM-YYYY - DD-MM-YYYY"
									[autoApply]="false"
									[locale]="{ applyLabel: 'Apply', format: 'DD-MM-YYYY' }"
									(startDateChanged)="startFilterDateClicked($event)"
									(endDateChanged)="endFilterDateClicked($event)"
									class="form-control"
									autocomplete="off"
									(change)="onDateChange($event)"
									[(ngModel)]="selectedFilterDate"
									[ngModelOptions]="{ standalone: true }" />
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group" style="display: flex">
							<div style="min-width: 85px; max-width: 130px; display: flex; justify-content: center">
								<label>{{ 'Pages.DiwoAnalytics.Home.Filter.filterby' | translate }}</label>
								<span
									style="width: 30%; cursor: pointer"
									(click)="onclickFilterDropDownModal()"
									[innerHTML]="iconObject['expand_more_icon_diwo']"></span>
							</div>
						</div>
						<div style="margin-top: 2px">
							<span *ngFor="let item of filterArrayData; let i = index">
								<a
									*ngFor="let item_ of item.selectedData; let j = index"
									class="btn-xs action-clear-btn"
									style="margin-right: 5px">
									<span *ngIf="item.filterType == 'Modules'">
										{{ item.filterType }}: {{ item_.title ? item_.title : '' }}
									</span>

									<span *ngIf="item.filterType == 'Courses'">
										{{ item.filterType }}: {{ item_.title ? item_.title : '' }}
									</span>

									<span *ngIf="item.filterType == 'Pathways'">
										{{ item.filterType }}: {{ item_.title ? item_.title : '' }}
									</span>

									<span *ngIf="item.filterType == 'Job Role'">
										{{ item.filterType }}: {{ item_.job_role_name ? item_.job_role_name : '' }}
									</span>

									<span *ngIf="item.filterType == 'Assignment ID'">
										{{ item.filterType }}: {{ item_.id ? item_.id : '' }}
									</span>

									<span
										*ngIf="
											['Modules', 'Courses', 'Pathways', 'Job Role', 'Assignment ID'].indexOf(item.filterType) == -1
										">
										{{ item.filterType }}:
										{{ item_.name ? item_.name : item_.label ? item_.label : '' }}
									</span>

									<span class="clear-filter" (click)="clearFilter(i, j)">&times;</span>
								</a>
								<a *ngIf="item?.searchByText" class="btn-xs action-clear-btn" style="margin-right: 5px">
									<span>
										{{ item.filterType }}:
										{{ item.searchByText ? item.searchByText : '' }}
									</span>

									<span class="clear-filter" (click)="clearFilter(i)">&times;</span>
								</a>
							</span>
							<span
								*ngIf="filterArrayData && filterArrayData.length > 0"
								(click)="clearAllFilter()"
								style="margin: 0; padding-left: 0.2rem; cursor: pointer">
								{{ 'Pages.DiwoAnalytics.Home.Filter.clearAll' | translate }}
							</span>
						</div>
					</div>
				</div>

				<div class="chart-header">
					<div class="row">
						<div class="col-md-4">
							<div class="row" style="display: flex; flex-wrap: wrap">
								<div class="col-md-6 ilt-vbt-session-container">
									<div class="ilt-vbt-count-container-wrap">
										<div class="total-count">
											{{ ILTAnayticsData && ILTAnayticsData.ILTSessionCount ? ILTAnayticsData.ILTSessionCount : 0 }}
										</div>
										<p class="title">{{ 'Pages.DiwoAnalytics.Home.iltsessions' | translate }}</p>
									</div>
								</div>

								<div class="col-md-6 ilt-vbt-session-container">
									<div class="ilt-vbt-count-container-wrap">
										<div
											class="total-count"
											*ngIf="
												(ILTAnayticsData &&
													!ILTAnayticsData.sessionFeedbackScore &&
													!ILTAnayticsData.sessionFeedbackTotalCount) ||
												!ILTAnayticsData
											">
											{{ 0 }}
										</div>

										<div
											class="total-count"
											*ngIf="
												ILTAnayticsData &&
												ILTAnayticsData.sessionFeedbackScore &&
												ILTAnayticsData.sessionFeedbackTotalCount
											">
											{{
												ILTAnayticsData && ILTAnayticsData.sessionFeedbackScore
													? ILTAnayticsData.sessionFeedbackScore
													: 0
											}}
											/
											{{
												ILTAnayticsData && ILTAnayticsData.sessionFeedbackTotalCount
													? ILTAnayticsData.sessionFeedbackTotalCount
													: 0
											}}
										</div>
										<p class="title">{{ 'Pages.DiwoAnalytics.Home.iltfeedback' | translate }}</p>
									</div>
								</div>

								<div class="col-md-6 ilt-vbt-session-container1">
									<div class="ilt-vbt-count-container-wrap">
										<div class="total-count">
											{{ ILTAnayticsData && ILTAnayticsData.ILTAttendance ? ILTAnayticsData.ILTAttendance : 0 }}
										</div>
										<p class="title">{{ 'Pages.DiwoAnalytics.Home.iltattendance' | translate }}</p>
									</div>
								</div>

								<div class="col-md-6 ilt-vbt-session-container1">
									<div class="ilt-vbt-count-container-wrap">
										<div class="total-count">
											{{ ILTAnayticsData && ILTAnayticsData.LearningHours ? ILTAnayticsData.LearningHours : 0 }}
										</div>
										<p class="title">{{ 'Pages.DiwoAnalytics.Home.learnhours' | translate }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 chart-container">
							<div id="diwo_chart" class="chart-wrap"></div>
							<div>
								<p class="vbt-wt-chart-text">{{ 'Pages.DiwoAnalytics.Home.vbtwtgraphtext' | translate }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="modal fade credit-note"
	id="filterDropDownModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
	data-backdrop="static"
	data-keyboard="false"
	*ngIf="loadingCompleted">
	<div class="modal-dialog" style="width: 25%; margin-top: 12%; margin-left: auto; margin-right: auto">
		<div class="modal-content">
			<div
				class="modal-header"
				[ngStyle]="{
					'background-color': appService.whiteBrandingColor,
					border: '1px solid' + appService.whiteBrandingColor,
					color: 'white'
				}">
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
					(click)="cancelFilterDropDownModal()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<span>
						{{ 'Pages.DiwoAnalytics.Home.Filter.selectFilter' | translate }}
					</span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 form-group" style="margin-top: -5px">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.selectFilter' | translate }}</label>
						<ng-select
							[items]="filterData"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.filterPlaceholder' | translate }}"
							bindLabel="name"
							bindValue="value"
							[multiple]="false"
							[closeOnSelect]="true"
							[searchable]="false"
							[clearable]="false"
							(change)="onSelectFilterType($event)"
							[ngModelOptions]="{ standalone: true }"
							[(ngModel)]="selectedFilterType">
						</ng-select>
					</div>
				</div>

				<div
					class="visible-md visible-lg visible-sm visible-xs"
					style="text-align: right; margin-bottom: 0.75rem; margin-top: 1.5rem">
					<a
						class="btn-xs action-pause-btn"
						[ngStyle]="{
							color: appService.whiteBrandingColor,
							border: '1px solid' + appService.whiteBrandingColor,
						}"
						style="padding: 7px 23px; border-radius: 30px; font-size: 0.9rem; margin-right: 10px"
						(click)="cancelFilterDropDownModal()"
						>{{ 'Utils.Action.cancel' | translate }}</a
					>
					<a
						class="btn-xs action-edit-btn"
						[ngStyle]="{
							'background-color': appService.whiteBrandingColor,
							border: '1px solid' + appService.whiteBrandingColor,
							color: 'white'
						}"
						(click)="filterDropDownModalOk()"
						style="margin-right: 9px; padding: 7px 20px; border-radius: 30px; font-size: 0.9rem"
						>{{ 'Utils.ok' | translate }}</a
					>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="modal fade credit-note"
	id="filterModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
	data-backdrop="static"
	data-keyboard="false">
	<div class="modal-dialog" style="width: 30%; margin-top: 12%; margin-left: auto; margin-right: auto">
		<div class="modal-content">
			<div
				class="modal-header"
				[ngStyle]="{
					'background-color': appService.whiteBrandingColor,
					border: '1px solid' + appService.whiteBrandingColor,
					color: 'white'
				}">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelFilterModal()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<span>
						{{ 'Pages.DiwoAnalytics.Home.Filter.selectFilter' | translate }}
					</span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Account'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.Branch.title' | translate }}</label>
						<ng-select
							[items]="branchList"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.Branch.placeholder' | translate }}"
							bindLabel="account_name_with_id"
							bindValue="id"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="branchSelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, 'Account')">
						</ng-select>
					</div>
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Country'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.Country.title' | translate }}</label>
						<ng-select
							[items]="countryList"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.Country.placeholder' | translate }}"
							bindLabel="name"
							bindValue="id"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="countrySelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, 'Country')">
						</ng-select>
					</div>

					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'City'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.City.title' | translate }}</label>
						<div class="form-group">
							<input
								type="text"
								class="form-control"
								(keyup)="onSearchFilter($event.target.value, 'City')"
								placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.City.placeholder' | translate }}" />
						</div>
					</div>
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Tags'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.Tags.title' | translate }}</label>
						<div class="form-group">
							<input
								type="text"
								class="form-control"
								(keyup)="onSearchFilter($event.target.value, 'Tags')"
								placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.Tags.placeholder' | translate }}" />
						</div>
					</div>
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Job Role'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.JobRole.title' | translate }}</label>
						<ng-select
							[items]="jobRoleList"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.JobRole.placeholder' | translate }}"
							bindLabel="job_role_name"
							bindValue="id"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="jobRoleSelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, 'Job Role')">
						</ng-select>
					</div>
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Modules'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.Modules.title' | translate }}</label>
						<ng-select
							[items]="moduleList"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.Modules.placeholder' | translate }}"
							bindLabel="ModuleIdTitle"
							bindValue="id"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="moduleSelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, 'Modules')">
						</ng-select>
					</div>
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Courses'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.Courses.title' | translate }}</label>
						<ng-select
							[items]="courseList"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.Courses.placeholder' | translate }}"
							bindLabel="CourseIdTitle"
							bindValue="id"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="courseSelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, 'Courses')">
						</ng-select>
					</div>
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Pathways'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.Pathways.title' | translate }}</label>
						<ng-select
							[items]="pathwayList"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.Pathways.placeholder' | translate }}"
							bindLabel="PathwayIdTitle"
							bindValue="id"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="pathwaySelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, 'Pathways')">
						</ng-select>
					</div>
					<div class="col-md-12 form-group" style="margin-top: -5px" *ngIf="seletedFilterType == 'Assignment ID'">
						<label>{{ 'Pages.DiwoAnalytics.Home.Filter.AssignmentId.title' | translate }}</label>
						<ng-select
							[items]="assignmentIdsList"
							class="ng-select-wrap"
							placeholder="{{ 'Pages.DiwoAnalytics.Home.Filter.AssignmentId.placeholder' | translate }}"
							bindLabel="id"
							bindValue="id"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="assignmentIdSelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, 'Assignment ID')">
						</ng-select>
					</div>

					<div
						class="col-md-12 form-group"
						style="margin-top: -5px"
						*ngIf="seletedFilterType && customFieldLabelList.indexOf(seletedFilterType) > -1">
						<label>Select {{ seletedFilterType }}</label>
						<ng-select
							[items]="customFieldOptions"
							class="ng-select-wrap"
							placeholder="Select {{ seletedFilterType }} to filter"
							bindLabel="label"
							bindValue="label"
							[multiple]="true"
							[clearable]="true"
							[closeOnSelect]="false"
							[searchable]="true"
							[(ngModel)]="customFieldSelectedList"
							[ngModelOptions]="{ standalone: true }"
							(change)="onselctedFilterData($event, seletedFilterType, true)">
						</ng-select>
					</div>
				</div>

				<div
					class="visible-md visible-lg visible-sm visible-xs"
					style="text-align: right; margin-bottom: 0.75rem; margin-top: 1.5rem">
					<a
						class="btn-xs action-pause-btn"
						[ngStyle]="{
							color: appService.whiteBrandingColor,
							border: '1px solid' + appService.whiteBrandingColor,
						}"
						style="padding: 7px 23px; border-radius: 30px; font-size: 0.9rem; margin-right: 10px"
						(click)="backToFilterList()"
						>{{ 'Utils.Action.back' | translate }}</a
					>
					<a
						class="btn-xs action-edit-btn"
						[ngStyle]="{
							'background-color': appService.whiteBrandingColor,
							border: '1px solid' + appService.whiteBrandingColor,
							color: 'white'
						}"
						(click)="selectedFilterOk()"
						style="margin-right: 9px; padding: 7px 20px; border-radius: 30px; font-size: 0.9rem"
						>{{ 'Utils.ok' | translate }}</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
