ion-toolbar.toolbar-head {
	height: 65px;
}

p {
	margin: 0;
}

.ws-index {
	color: #000;
	font-size: 1rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.ws-wrapper {
	margin: 0.1rem auto 1.4rem;
	border-radius: 1rem;
	// box-shadow: 1px 3px 4px 0 rgb(0, 0, 20);
	// box-shadow: 1px 3px 4px 0 #d2cfd6;
	padding: 0;
	border: 2px solid lightgray;
}

.ws-img {
	object-fit: contain;
	display: block;
	width: 100%;
	border-radius: 0.9rem 0.9rem 0 0;
	cursor: pointer;
	// height: 209.39px;
}

.description {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	font-size: 1rem;
	line-height: 23px;
	font-weight: 300;
	text-align: left;
	cursor: pointer;
	white-space: pre-line;
	margin: 1rem 0 0 0;
}

.trainer-note,
.learner-note {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 1rem;
	line-height: 23px;
	font-weight: 300;
	text-align: left;
}

.learner-note {
	font-style: italic;
}

.trainer-note {
	margin: 1rem 0;
	color: #605757;
}

.edit-learner-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0 0;
}

.show-learner-note {
	width: 87%;
	border-radius: 0.7rem;
	padding: 0.7rem;
	margin-right: 0.7rem;
	background-color: #f0eeee;
}
// textarea.learner-input::placeholder {
//     color: #fff;
// }

.learner-input {
	width: 100%;
	margin-top: 1rem;
	border-radius: 1rem;
	font-size: 1rem;
	border: none;
	margin-left: -0.25rem;
	// color: #fff;
	background: white;
}

.flag-div {
	display: flex;
	justify-content: flex-end;
	margin-right: -1rem;
	position: relative;
}

.activity-type {
	// position: absolute;
	// left: 0;
	// height: 100%;
	// border-radius: 0.7rem;
	// display: flex;
	// align-items: center;
	// justify-content: flex-start;
	// width: 60%;
	flex: 1;
	display: flex;
	align-items: center;
	max-height: 6vh;
	cursor: pointer;
}

.flag-group {
	// width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.activity-type-all {
	// width: 50%;
}

.flag-group-all {
	// width: 50%;
}

.flag-icons {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.8rem;
}

.back-to-top-btn {
	background: var(--branding-color);
	position: fixed;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
	right: 3%;
	bottom: 5%;
	z-index: 999;

	#top-icon {
		height: 45%;
		width: 45%;
	}
}

.note-btn {
	margin: 0.5rem 0 0.75rem 0;
	height: 2.3rem;
	font-size: 1rem;
	--color: white;
	text-transform: none;
	box-shadow: none;
	--background: var(--branding-color);
	// --border-radius: 2rem;
	--border-radius: 0.625rem;
}

.worksheet-data {
	padding: 1rem;
}

#add-notes-label {
	width: 100%;
	background-color: #f0eeee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0 0;
	border-radius: 0.7rem;
	height: 3rem;
}

.icon-border {
	border-radius: 0.7rem;
	border: 1px solid var(--branding-color);
	height: 65px;
	width: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.note-modal-icons {
	display: flex;
	justify-content: flex-start;
	margin-top: 1rem;
}

.modal-action-btn-div {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.worksheet-type-icon {
	width: 2.5rem;
	height: 2.5rem;
}

.worksheet-type-quiz-icon,
.worksheet-type-poll-icon {
	width: 2.5rem;
	height: 2.5rem;
}

.learning-content-icon {
	// width: 1.375rem;
	// height: 1.375rem;
	width: 2.5rem;
	height: 2.5rem;
}

.worksheet-guide-icon {
	width: 3.5rem;
	height: 3.5rem;
	margin-left: -3px;
}

.worksheet-disc-type-icon {
	// width: 2rem;
	// height: 2rem;
	width: 2.5rem;
	height: 2.5rem;
}

.wordcloud-type-icon {
	// width: 1.875rem;
	// height: 1.125rem;
	width: 2.5rem;
	height: 2.5rem;
	margin-left: 0.3rem;
}

.worksheet-type-text {
	margin-left: 0.5rem;
	font-size: 1.25rem;
}

.worksheet-type-text-all {
	margin-left: 0.5rem;
	width: 80%;
}

ion-title {
	padding: 0px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

// @media only screen and (min-width: 768px) and (orientation: portrait) {
//     .ws-img {
//         height: 305px !important;
//     }
// }
// @media only screen and (min-width: 840px) and (orientation: landscape) {
//     .ws-img {
//         height: 369px !important;
//     }
// }
// @media only screen and (min-width: 1435px) and (orientation: portrait) {
//     .ws-img {
//         height: 453px !important;
//     }
// }
// @media only screen and (min-width: 819px) and (orientation: portrait) {
//     .ws-img {
//         height: 328px !important;
//     }
// }
// @media only screen and (min-width: 910px) and (orientation: portrait) {
//     .ws-img {
//         height: 367px !important;
//     }
// }
// @media only screen and (min-width: 992px) and (orientation: landscape) {
//     .ws-img {
//         height: 374px !important;
//     }
// }

.btn-print {
	padding: 15px;
	font-size: 16px;
	font-weight: 500;
	border: 1px solid lightgray;
	border-radius: 0.7rem;
	--background: var(--branding-color);
	text-transform: capitalize;
	height: 5vh;
	padding: 0px;
}

.img-head {
	// height: 203px;
	height: 100%;
	overflow: hidden;
}

// @media only screen and (min-width: 768px) and (orientation: portrait) {
// 	.img-head {
// 		height: 400px;
// 	}
// }

// @media only screen and (min-width: 992px) and (orientation: landscape) {
// 	.img-head {
// 		height: 490px;
// 	}
// }

.fav-icon-select {
	width: 2.5rem;
	height: 2.5rem;
	mask: url('/assets/images/workbook/favorite_selected_icon.svg') no-repeat center / contain;
	-webkit-mask: url('/assets/images/workbook/favorite_selected_icon.svg') no-repeat center / contain;
	// background-color: var(--branding-color);
}

.trainer-icon-select {
	width: 2.5rem;
	height: 2.5rem;
	mask: url('/assets/images/workbook/trainerNoteShow.svg') no-repeat center / contain;
	-webkit-mask: url('/assets/images/workbook/trainerNoteShow.svg') no-repeat center / contain;
	// background-color: var(--branding-color);
}

//WEB Optimization
.main-col {
	margin: 0 auto;
}

.ion-main-col-desktop {
	max-width: 60.5% !important;
	width: 100% !important;
}

.ion-main-row-desktop {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1024px) {
	// ion-col.main-col {
	// 	max-width: 60% !important;
	// 	width: 100% !important;
	// }
	// ion-row.main-row {
	// 	display: flex;
	// 	flex-direction: column;
	// }
}

// .cancel {
// 	color: var(--branding-color);
// }

// .save {
// 	--background: var(--branding-color);
// }

.center-title {
	// width: 60%;
	text-align: center;
	flex-grow: 1;
	margin: 0 auto;
	// margin: 1rem auto 0 auto;
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-size: 1.45rem;
	font-weight: 540;
}

.lesson-check-icon {
	border-radius: 50%;
	background-color: #00aa4d;
	width: 1.5rem;
	height: 1.5rem;
}

.worksheet-video-icon {
	width: 2.5rem;
	height: 2.5rem;
}

////////////////////////////////////////////////
// .modal-action-btn-div a
// {
//   color: rgb(150, 75, 0) !important;
// }

// ion-button {
//   --background: rgb(150, 75, 0) !important;
// }
