input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

$topnav-background-color: #222;

:host {
	display: block;
}

.login-logo-new {
	width: 100%;
	margin: auto;

	a {
		position: relative;
		bottom: 22px;
	}
}

.sendotp {
	color: red;
	position: absolute;
	right: 10px;
	cursor: pointer;
	top: 106%;
}

.login-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: $topnav-background-color;
	text-align: center;
	color: #fff;
	padding: 3em;

	.col-lg-4 {
		padding: 0;
	}

	.input-lg {
		height: 46px;
		padding: 10px 16px;
		font-size: 1.125rem;
		line-height: 1.3333333;
		border-radius: 0;
	}

	.input-underline {
		background: 0 0;
		border: none;
		box-shadow: none;
		border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		color: #fff;
		border-radius: 0;
	}

	.input-underline:focus {
		border-bottom: 2px solid #fff;
		box-shadow: none;
	}

	.rounded-btn {
		-webkit-border-radius: 50px;
		border-radius: 50px;
		color: rgba(255, 255, 255, 0.8);
		background: $topnav-background-color;
		border: 2px solid rgba(255, 255, 255, 0.8);
		font-size: 1.125rem;
		line-height: 40px;
		padding: 0 25px;
	}

	.rounded-btn:hover,
	.rounded-btn:focus,
	.rounded-btn:active,
	.rounded-btn:visited {
		color: rgba(255, 255, 255, 1);
		border: 2px solid rgba(255, 255, 255, 1);
		outline: none;
	}

	h1 {
		font-weight: 300;
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 2.25rem;

		small {
			color: rgba(255, 255, 255, 0.7);
		}
	}

	.form-group {
		padding: 8px 0;

		input::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.6) !important;
		}

		input:-moz-placeholder {
			/* Firefox 18- */
			color: rgba(255, 255, 255, 0.6) !important;
		}

		input::-moz-placeholder {
			/* Firefox 19+ */
			color: rgba(255, 255, 255, 0.6) !important;
		}

		input:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.6) !important;
		}
	}

	.form-content {
		padding: 40px 0;
	}

	.user-avatar {
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 2px solid #fff;
	}
}

.textAlign {
	text-align: center;
}

.marginLeft {
	margin-left: 2%;
	font-size: 1.188rem;
	margin-top: 2%;
}

.country-input {
	height: 50px;
	width: 100%;
	border-radius: 25px;
	padding: 10px 15px !important;
}

.country-input2 {
	height: 50px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
	padding: 10px 15px !important;
}

.country-input3 {
	height: 50px;
	width: 100%;
	border-radius: 25px;
	padding: 10px 15px 10px 80px !important;
}

.country_list {
	height: 200px;
	overflow: scroll;
	position: absolute;
	z-index: 99;
	background: #f2f2f2;
	top: 50px;
	width: 100%;
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding: 14px 14px 14px 14px;
	display: none;
	border-radius: 0px 0px 24px 24px;
}

.country_list2 {
	min-height: 210px;
	max-height: 315px;
	overflow: scroll;
	position: absolute;
	z-index: 99;
	background: #f2f2f2;
	top: 50px;
	width: 100%;
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding: 14px 14px 14px 14px;
	display: block;
	border-radius: 0px 0px 24px 24px;
}

.m-bottom tbody tr {
	margin-bottom: 15px;
}

//Message board css
.whiteBox {
	font-family: 'Poppins-Regular' !important;
	padding: 6%;
	margin-bottom: 0px;
	margin-top: 5%;
	background-color: #fff !important;
	border-radius: 24px !important;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030 !important;
}

.cardTitle {
	font-family: 'Poppins-Regular' !important;
	font-size: 0.9rem;
	font-weight: bold;
	padding-left: 5%;
}

.cardDis {
	font-family: 'Poppins-Regular' !important;
	font-size: 0.9rem;
	margin-top: 2%;
	padding-left: 5%;
}

.banner-images {
	width: 100%;
	height: auto;
	margin-top: 5%;
	box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030 !important;
	border-radius: 24px !important;
}

.bottom-text {
	font-family: 'Poppins-Regular' !important;
	margin-top: 1%;
	font-size: 0.9rem;
	font-weight: bold;
	margin-left: 30%;
	margin-right: 30%;
	cursor: pointer;
}

.next-button {
	font-family: 'Poppins-Regular' !important;
	background-color: #6513e1;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030 !important;
	text-align: center;
	border: solid 1px #6513e1;
}

.error {
	font-family: 'Poppins-Regular' !important;
}

.content .form-group label {
	font-size: 1.2rem;
}

.placeHolder_font input::-webkit-input-placeholder {
	font-size: 0.9rem !important;
	padding-bottom: 3px;
}

.red-border {
	border-color: red !important;
}

.add-circle {
	margin-bottom: 5px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
}

.slider.round {
	border-radius: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #6513e1;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round:before {
	border-radius: 50%;
}

.slider:before {
	position: absolute;
	content: '';
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.status-draft {
	padding: 0.375rem 2.563rem;
	background: #eff3f4;
	border-radius: 16px;
	color: #8890a4;
	font-size: 0.7rem;
	// border: 0.5px solid #eff3f4 !important;
}

.status-pfa {
	padding: 0.375rem 2.813rem;
	background: #fff1da;
	border-radius: 16px;
	color: #ffa70b;
	font-size: 0.7rem;
	// border: 0.5px solid #fff1da !important;
}

.status-published {
	// 25px
	padding: 0.375rem 1.563rem;
	background: #e0f8ef;
	border-radius: 16px;
	color: #18a16f;
	font-size: 0.7rem;
	// border: 0.5px solid #e0f8ef !important;
}

.status-deleted {
	padding: 0.375rem 1.938rem;
	background: #f8e2e5;
	border-radius: 16px;
	color: #d34053;
	font-size: 0.7rem;
	// border: 0.5px solid #f8e2e5 !important;
}

.edit-disabled {
	color: white !important;
	background-color: #8890a4 !important;
	border: 0.5px solid #8890a4 !important;
}

.btn-info:active.edit-disabled,
.btn-info.active.edit-disabled,
.btn-info.active.edit-disabled:focus,
.btn-info:active.edit-disabled:focus,
.btn-info:active.edit-disabled:hover {
	color: white !important;
	background-color: #8890a4 !important;
	border: 0.5px solid #8890a4 !important;
}

.delete-disabled {
	color: #8890a4 !important;
	/* background-color: #eff3f4; */
	border: 0.5px solid #8890a4 !important;
}

.delete-disabled2 {
	color: #8890a4 !important;
	/* background-color: #eff3f4; */
	border: 0.5px solid #8890a4 !important;
}

::ng-deep.workbook .md-drppicker.drops-down-auto.ltr.double.show-ranges.shown {
	left: -19.7rem !important;
	width: 37.5rem !important;
}

.pageDiv {
	padding-left: 1.9%;
	padding-right: 0.9%;
}

.action-edit-btn-new {
	padding: 0.25rem 0.75rem;
	border: 0.5px solid #6513e1;
	border-radius: 16px;
	color: #6513e1;
	font-size: 0.8rem;
	background-color: white;
}

::ng-deep.md-drppicker .btn {
	border-radius: 8px;
	margin-left: 8px;
	padding: 0 12px;
	background-color: var(--check-box-color);
}
::ng-deep.md-drppicker .btn.btn-default {
	background-color: lightgray;
}

::ng-deep button.btn.btn-default.clear {
	background-color: lightgray !important;
}

::ng-deep.md-drppicker .clear svg {
	display: none;
}

.bulk-action {
	margin-right: 1rem !important;
}
